SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SCHEMA=public
SUPABASE_AUTH_REDIRECT_URL=
ADMOB_ANDROID_APP_ID=
ADMOB_IOS_APP_ID=
ADMOB_ANDROID_REWARDED_ID=
ADMOB_IOS_REWARDED_ID=
IAP_PRO_LIFETIME_PRODUCT_ID=ekstra_pro_lifetime
PRIVACY_POLICY_URL=
TERMS_OF_USE_URL=
